@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');
.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  height: auto;
  max-width: 90vw;
  width: 400px;

  background-color: #3B1C32;
  border-radius: 10px;
  margin: 15% auto;
  

  border: 1px solid #6A1E55;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn {
    
  background-color: #6A1E55;
  color: whitesmoke;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #852463;
}

.img {

  max-width: 100%;
  height: auto;
  margin-top: -40px;
}

.text {

  color: whitesmoke;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-top: 1rem;
  line-height: 1.5;
  text-align: center;
}

.heading {

  color: whitesmoke;
  font-family: "Reem Kufi Fun", sans-serif;
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 1rem;
  text-align: center;
}

.input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    margin: 10px;
}

.form{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: auto;
    width: 60vw;
    background-color: #3B1C32;  
}
